$gold: #c0b283;
$gray: #2a2a2a;
$pink: #f3c6c0;
$d-pink: #e0ada9;

$didot: "didot", serif;

$trans: 0.2s ease-out;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin fontStyle {
  font-weight: 400;
  font-style: italic;
}
