.header__logo,
.header__nav {
  display: none;
}

// PARALAX BCKG

#hero-parallax {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
  z-index: -4;
  background-image: url(../img/bckg1.min.jpg);
}

#skills-parallax,
#contact-parallax {
  background-image: url(../img/bckg2.min.jpg);
}
#projects-parallax {
  background-image: url(../img/bckg3.min.jpg);
}
.prlx__title {
  @include fontStyle;
  position: relative;
  z-index: 2;
  font-size: 2em;
  color: $gold;
  background-color: #fff;
  padding: 1em 2em;
}
.prlx__title:after {
  content: "";
  position: absolute;
  top: 4%;
  left: 1.1%;
  width: 97%;
  height: 90%;
  border: 1px solid $gold;
}
.prlx__wrap {
  position: absolute;
  width: 100%;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 300px;
  height: 150vh;
  z-index: 1;
  top: 0px;
}

.skills__title {
  color: $pink;
}
.skills__title:after {
  border: 1px solid $pink;
}

// HERO

.hero__title {
  //   font-weight: 400;
  transform: translate(-80%, 40%);
}
.hero__h1 {
  color: $gold;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.1em 0;
  font-size: 3em;
}
.hero__h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.1em 0;
  transform: translateX(3em);
  font-size: 2.4em;
}
.hero__h3 {
  @include fontStyle;
  color: #fff;
  text-transform: capitalize;
  margin: 0.1em 0;
  text-align: end;
  transform: translateX(2em);
  font-size: 1.4em;
}

// ABOUT SECT

.about__title {
  @include fontStyle;
  top: 1.4em;
  color: $gold;
  font-size: 2.6em;
  position: relative;
  margin-bottom: 2em;
}
.about__title::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: $gold;
  top: 1.4em;
  left: 25%;
  display: block;
  position: absolute;
}

.about__content {
  @include fontStyle;
  width: 80%;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.6em;
}

.about__btn {
  @include fontStyle;
  color: $gold;
  background-color: #fff;
  padding: 0.5em 1em;
  border: 1px solid $gold;
  transition: $trans;
}
.about__btn:hover {
  @extend .projects__btn:hover;
}

//  SKILLS SECT
.skills__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid $pink;
  margin: 0 75px;
  padding-top: 2.6em;
}
.skills__item {
  @include flex;
  color: $pink;
  flex-direction: column;
  min-width: 15em;
  width: 25%;
  max-height: 60vw;
  margin-top: 2em;
  padding-bottom: 2em;
}

.skill__icon {
  @include flex;
  border: 1px solid $pink;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  overflow: hidden;
}

.skill__icon i {
  font-size: 4em;
  padding: 0.5em;
  line-height: 2em;
}
.skill__icon-rwd i {
  font-size: 3em;
  transform: rotate(-45deg);
}
.skill__title {
  @include fontStyle;
  padding: 1.6em;
}
.skill__icon img {
  width: 55%;
}

// .skill-caption {
//   opacity: 1;
//   position: relative;
//   align-self: flex-end;
//   width: 70%;
//   height: 100%;
//   padding-bottom: 0em;
//   margin-left: 1em;
// }
// .skill-icon + h3 {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 25vw;
//   text-align: center;
//   padding: 0;
// }

//  PROJECTS SECT

.projects__content {
  @include flex;
}
.projects__btns {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 75px;
}

.projects__btn {
  @include fontStyle;
  width: 9em;
  font-size: 1.4em;
  color: $gold;
  background-color: #fff;
  padding: 1em 2em;
  border: 1px solid $gold;
  transition: $trans;
}

.projects__btn:hover {
  cursor: pointer;
  background-color: $gold;
  color: #fff;
  opacity: 0.8;
  // transition: $trans;
}
.projects__item {
  position: relative;
}
.projects__item:after {
  content: "";
  width: 30%;
  height: 1px;
  box-shadow: 0 0.2em 0.2em $gold;
  position: absolute;
  bottom: 0;
  left: 35%;
  opacity: 0;
  transition: $trans;
}
.projects__item:hover:after {
  opacity: 1;
  // transition: $trans;
}
.projects__item img {
  margin: 1em;
  position: relative;
}

.projects__item-tit {
  @include fontStyle;
  font-size: 1.6em;
  padding: 1em 2em;
  color: $gold;
  text-align: center;
}
.projects__item p {
  font-weight: normal;
  color: $gold;
  text-align: center;
}
.projects__links {
  text-align: center;
}
.projects__links i {
  color: $gold;
  font-size: 2em;
  padding: 0.6em;
  transition: $trans;
}
.projects__links i:hover {
  color: white;
  text-shadow: 0 0 5px $gold;
  transition: $trans;
}

// CONTACT SECT

.contact__content {
  justify-content: space-between;
  overflow: hidden;
  padding: 3vw;
  font-family: "baskerville", serif;
}
.contact__content {
  @include flex;
}

.contact__item {
  width: 20vw;
  height: 8em;
  justify-content: space-around;
  color: $gold;
  opacity: 0.6;
  padding: 0em 0.5em;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  transition: $trans;
}

.contact__item:hover .contact__item-link i {
  color: white;
  text-shadow: 0 0 5px $gold;
  // transition: $trans;
  transition: $trans;
}

.contact__item:hover i {
  transform: scale(1.05);
  transition: $trans;
}

.contact__item-data {
  font-style: italic;
  height: 1em;
}

.contact__item-link {
  text-decoration: none;
  color: $gold;
  height: 75%;
  justify-content: space-around;
}

// .contact__item-link[href*="mail"] + p {
//   align-items: flex-start;
//   flex-wrap: wrap;
//   max-width: 50%;
// }

.contact__item i {
  font-size: 2em;
}

.contact__item-tit {
  @include fontStyle;
  text-transform: capitalize;
  font-size: 1.4em;
}
.contact__item,
.contact__item-link {
  @include flex;
  flex-direction: column;
}

// FOOTER

.footer {
  @include flex;
  height: 10vh;
  min-height: 5em;
  font-size: 1em;
  color: $gold;
  border-top: 1px solid $gold;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.prlx-footer {
  background-image: url(../img/bckg2.min.jpg);
  background-size: cover;
  background-position: center;
  max-height: 10vh;
  transform: scale(1.1);
}

.copyright {
  position: relative;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 1em;
}
